#nav{ 

	width: 850px;
	margin: 0 auto;
}

#menu{ 
	width	    : 850px;
	margin      : 0 auto; 
	padding     : 0px;
	list-style  : none;
	background-color: #172322;
	color       : #fff;
	line-height : 45px;
	display     : inline-block;
	z-index     : 100;
}

#menu a {

	color           : #fff;
	text-decoration : none;
	margin-left	: 8px;
}

#menu > li {

	background : #172322 none repeat scroll 0 0;
	cursor     : pointer;
	float      : left;
	position   : relative;
    	padding    : 0px 10px;
}

#menu > li a:hover {

	color:#B0D730;
}

#menu .logo {
	
	background       : transparent none repeat scroll 0% 0%;
	padding          : 0px;
    	background-color : Transparent;
}
/* sub-menus*/

#menu ul {

	padding : 0px;
	margin  : 0px;
	display : block;
	display : inline;
}

#menu li ul {
	
	position         : absolute;
	left             : -10px; top : 0px;
	margin-top       : 45px;
	width            : 150px;
	line-height      : 16px;
    	background-color : #172322;
	color            : #0395CC;
	/* for IE */
	display          : none;
}

#menu li:hover ul { 
	
	display:block;

}

#menu li ul li{ 

	display         : block; 
	margin       	: 5px 20px;
	padding         : 5px 0px;
	border-top      : dotted 1px #606060;
    	list-style-type : none;

}

#menu li ul li:first-child { 
	
	border-top: none; 
}

#menu li ul li a { 
	
	display : block;
	color   : #0395CC;
}

#menu li ul li a:hover { 
	
	color:#7FCDFE; 
}

/* main submenu */

#menu #main { 

	left             : 0px;
	top              : -20px;
	padding-top      : 20px;
	background-color : #7cb7e3;
	color            : #fff;
    	z-index          : 999;

}


/* search */
.searchContainer div { background-color:#fff; display:inline; padding:5px;}
.searchContainer input[type="text"] {border:none; width: 150px;}
.searchContainer img { vertical-align:middle;}
#menu .corner_inset_left { position:absolute; top:0px; left:-12px;} 
#menu .corner_inset_right { position:absolute; top:0px; left:150px;} 
#menu .last { background:transparent none repeat scroll 0% 0%; margin:0px; padding:0px; 
    border:none; position:relative; border:none; height:0px;} 
#menu .corner_left { position:absolute; left:0px; top:0px;} 
#menu .corner_right { position:absolute; left:132px; top:0px;} 
#menu .middle { position:absolute; left:18px; height: 20px; width: 115px; top:0px;}
