/*----- Basic tags styling -----*/
body{ 

    background-color: #e7e7e7;
}
form label
{
    display: inline-block;
    width: 130px;
    font-size: 14px;
    font-weight: bold;
    color: #858585; 
    padding-left:10px;
    text-align:right;
    vertical-align: top;
}
form input[type="text"]
{
	height:20px;
	margin-bottom:7px;
	margin-left:2px;
	display: inline;
	width:200px;
	border: 1px solid #CCCCCC;
    border-radius:3px;
}
form input[type="password"]
{
	height        : 20px;
	margin-bottom : 7px;
	margin-left   : 2px;
	display       : inline;
	width         : 200px;
	border        : 1px solid #CCCCCC;
	border-radius : 3px;
}

/*----- Main Content -----*/
#content{ 
	
	margin     : -9px auto;
	width      : 850px;
	min-height : 700px;
	border     : 1px solid #CCCCCC;
	box-shadow: 10px 10px 5px #888888;
}

/*----- Fixing the slider overlay -----*/

#slider {
  	margin-top : -5px;
  	height     : 400px;
  	overflow   : hidden;
	z-index    : -50;
}

#products{ 

	width: 100%;
	height: 500px;
}

#product_list{ 
	
	vertical-align:top;
	width: 25%;
}

#product_des{ 

	width      : 75%;
    text-align : center;
    padding    : 20px;
}

#product_list ul{
	font-style          : normal;
	line-height         : 2em;
	font-weight         : normal;
	font-variant        : normal;
	text-decoration     : none;
	list-style-image    : url(http://localhost/sonawane/images/menu_icon_products.png);
	list-style-position : inside;
	margin-right        : 6px;
}

#product_list ul li{ 
	
	text-decoration: none;
	padding-left: 8px;
	cursor: pointer;
	cursor: hand;
}

#product_list ul li:hover{ 
	
	background-color: #CCCCCC;
}

.current{ 
	
	background-color: #CCCCCC;
}
/*----- Styling required for the fancybox -----*/
.fancybox-custom .fancybox-skin {
    
    box-shadow: 0 0 50px #222;
}
